textarea {
    margin-top: 24px;
}

h2 {
    margin-top: 6vh;
}

.standardInput {
    width: 25vw;
}
.dashboardBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20vh;
    margin-right: 20vh;
  
}
  
.dashboardItem {
    /*background-color: #BACDB0;*/
    width: 18vw;
    height: 8vw;
    margin: 2vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    background-color: #424f5c;
    border-radius: 25px;
    cursor: pointer;
}
  
.dashboardItem:hover {
    transform: scale(1.07);
    background-color: #2E2C2F;
}

h3 {
    position: relative;
    top: 33%;
    transform: translateY(-50%);
    font-size: 3.5vh;
    color: white;
}

.standardButton {
    width: 15vw;
}